body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(223, 221, 221);
}

.my-task-wrapper{
    width: 650px;
    margin: 0 auto;
    height: 800px;
    margin-top: 3rem;
    padding: 0;
}

.my-title-wrapper{
    text-align: center;
    padding: 2.5rem;
    background-color: #437bb3;
    width: 100%;
    color: white;
    height: 30%;
    

}

.my-todo-input{
    padding: 0.4rem;
    margin-top: 1rem;
    border-radius: 5%;
}

.my-todo-wrapper{
    height: 70%;
    width: 100%;
    background-color: rgb(145, 145, 145);
}